@media screen and (max-width: 1000px) {
    .jobs_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1075px) {
    .logo--desktop {
        display: none;
    }
    .logo--mobile {
        display: flex;
    }
}

@media screen and (max-width: 900px) {
    .jobs_grid {
        grid-template-columns: 1fr 1fr;
    }
    .header {
        grid-template-columns: min-content auto min-content;
        grid-template-areas:
            "logo search btn"
            "menu menu menu"
            "navbar navbar navbar"
            "account account account";
        /* background-color: #fff; */
    }
    .navbar_list {
        flex-direction: column;
        padding: 20px 0;
        border-bottom: 1px solid #E5E7EB;
    }
    .navbar_menu {
        margin: 0;
    }
    .navbar,
    .search_field,
    .search_box,
    .account,
    .account .btn {
        width: 100%;
    }
    .search_btn,
    .search_field {
        border: none;
        font-size: 16px;
        background-color: #E5E7EB;
    }
    .account {
        padding: 20px 0;
    }
    .navbar,
    .account,
    .hide {
        display: none;
    }
    .navbar--open .navbar,
    .navbar--open .account {
        display: block;
    }
    .header.navbar--open {
        background-color: #fff;
    }
}
